@font-face {
  font-family: "Karrik";
  src: url("assets/karrik-regular.woff2") format("woff2");
}

html,
body {
  height: 100%;
}

/* *,
*::before,
*::after {
  border: lime 1px solid;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Karrik";
  font-size: 24px;
  line-height: 0.9;
  text-transform: uppercase;

  color: #000;
  background: #fff;
}

h1 {
  font-size: clamp(24px, 24px + 6vw, 120px);
  font-weight: 700;
}

h2 {
  font-size: calc(16px + 3vw);
  font-size: clamp(16px, 16px + 3vw, 48px);
}

section {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-auto-flow: dense;

  height: min(100vh, 1000px);
}

section:nth-child(even) div.canva-holder {
  grid-column: 2;
}

div.front,
div.dates,
div.tickets {
  padding: 48px;
}

div.front {
  padding: 48px;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

div.date {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 16px;
}

div.date p {
  font-size: clamp(8px, 8px + 2vw, 20px);
}

div.canva-holder {
  background-color: black;
}

@media screen and (max-width: 750px) {
  section {
    display: grid;
    grid-template-columns: 100%;
  }
}
